**/README.md
**/.env*
**/settings.ini

.git
.gitkeep
.gitignore

.idea
**/*.swp
**/*.log

**/docker-compose*.yml
**/Dockerfile*
*/**/.dockerignore

**/coverage.xml
**/htmlcov/
**/.coverage
**/.tox/
**/.nox/
**/.venv/
**/*.pyc
**/__pycache__/
**/.pytest_cache/

**/node_modules/
**/.yarn_cache/
