[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-factoryboy = "*"
pytest-watch = "*"
pytest-django = "*"

[packages]
gunicorn = "*"
django = "*"
djangorestframework = "*"
psycopg2 = "*"
drf-yasg = "*"
factory-boy = "*"
python-decouple = "*"
dj-database-url = "*"
django-rq = "*"
markdown = "*"

[requires]
python_version = "3.8"
